
/* Course */
.ScrollList_body {
    min-height: 200px;
    padding-bottom: 0;
}

.commonItem_wrapper {
    margin-bottom: 32px;
    overflow: hidden;
    flex-shrink: 0;
}

.commonItem_thumb {
    text-decoration: none;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: block;
    object-fit: cover;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

.commonItem_thumb::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transition: all .3s ease 0s;
    inset: 0;
}

.commonItem_thumb:hover .commonItem_cta_btn,
.commonItem_thumb:hover::after {
    opacity: 1;
    visibility: visible;
}

.commonItem_thumb:hover .commonItem_cta_btn {
    top: 50%;
}


.Button_btn {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
    border-radius: 999px !important;
    color: var(--primary-color);
    font-size: 1.4rem;
    display: inline-block;
    font-weight: 600;
    outline: none;
    padding: 9px 16px;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    transition: .3s ease;
}

.Button_btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.commonItem_cta_btn {
    background-color: var(--white-color);
    border-color: var(--white-color);
    color: var(--black-color);
    left: 50%;
    position: absolute;
    top: 60%;
    opacity: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: all .3s ease 0s;
    visibility: hidden;
    z-index: 1;
}

.commonItem_title a {
    font-size: 1.6rem;
    text-decoration: none;
    line-height: 1.4;
    font-weight: 600;
    color: #292929;
    display: -webkit-box;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.VideoItem_video-info {
    position: absolute;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    bottom: 0;
    z-index: 1;
    padding: 16px;
}

.VideoItem_play_wrap {
    width: 36px;
    height: 36px;
    background-color: var(--white-color);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px
}

.VideoItem_play_icon {
    color: var(--text-color);
    font-size: 1.3rem;
}

.VideoItem_duration {
    border: 2px solid #fff;
    border-radius: 999px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 7px 12px;
}

.courseItem_student_count {
    color: #666;
    font-size: 1.4rem;
}

.courseItem_student_count span {
    margin-left: 5px;
}

.postItem_author {
    align-items: center;
    display: flex;
}

.postItem_author a {
    color: #757575;
    font-size: 1.4rem;
    text-decoration: none;
}

.postItem_author img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 8px;
    border-radius: 50%;
    flex-shrink: 0;
}

.postItem_author strong {
    color: #292929;
    font-weight: 600;
}

.postItem_author .postItem_dot {
    margin: 0 5px;
    -webkit-text-security: disc;
}

.VideoItem_stats {
    display: flex;
    font-size: 1.4rem;
    color: #757575;
    margin-left: -24px;
}

.VideoItem_stats div {
    margin-left: 24px;
}

.VideoItem_stats span {
    margin-left: 8px;
}


/* Footer */
.Footer_wrapper {
    color: #a9b3bb;
    background-color: #181821;
    padding: 68px 0 40px;
    overflow: hidden;
}

.Footer_column {
    display: flex;
    justify-content: center;
}

.Footer_column_top {
    display: flex;
    align-items: center;
}

.Footer_column_top a {
    text-decoration: none;
}

.Footer_top_logo {
    border-radius: 8px;
    margin-right: 10px;
    height: 38px;
    width: 38px;
}

.Footer_top_slogan {
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 700;
}

.Footer_heading {
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6;
}

.Footer_list {
    list-style: none;
    padding-left: 0;
}

.Footer_list li {
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-bottom: 8px;
    position: relative;
}

.Footer_list li a {
    text-decoration: none;
    color: #a9b3bb;
    position: relative;
    transition: all .3s ease;
}

.Footer_list li a:hover {
    color: var(--white-color);
}

.Footer_list li:last-child {
    margin-bottom: 2px;
}

.Footer_dmca {
    margin-top: 20px;
}

.Footer_sub_menu {
    padding-left: 0;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
    left: 60%;
    position: absolute;
    padding: 10px 20px;
    top: 20px;
    width: 220px;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
}

.Footer_list li:hover .Footer_sub_menu {
    opacity: 1;
    visibility: visible;
}

.Footer_bottom {
    margin-top: 48px;
    display: flex;
    align-items: baseline;
}

.Footer_copyright {
    font-size: 1.4rem;
}

.Footer_social-list {
    margin-left: auto;
}

.Footer_social-item {
    display: inline-block;
    font-size: 3.2rem;
    text-decoration: none;
}

.Footer_social-item:hover {
    opacity: 0.9;
}

.Footer_social-item+.Footer_social-item {
    margin-left: 13px;
}

.Footer_social-item.Footer_youtube {
    color: #eb2c3b;
}

.Footer_social-item.Footer_facebook {
    color: #4867aa;
}

.Footer_social-item.Footer_tiktok {
    color: #ccc;
}

.Footer_banner {
    width: 100%;
    margin-top: 94px;
}

.banner_img {
    background-image: url(https://thietkephoenix.com/wp-content/uploads/2021/08/Dich-vu-thiet-ke-hinh-anh-quang-cao.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 100%;
}
