
/* Course */
.ScrollList_body {
    min-height: 200px;
    padding-bottom: 0;
}

.commonItem_wrapper {
    margin-bottom: 32px;
    overflow: hidden;
    flex-shrink: 0;
}

.infoItem {
    flex: 1;
    display: flex
;
    flex-direction: column;
    gap: 12px;
    padding: 16px 20px;
}

.commonItem_thumb {
    text-decoration: none;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: block;
    object-fit: cover;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

.commonItem_thumb::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transition: all .3s ease 0s;
    inset: 0;
}

.commonItem_thumb:hover .commonItem_cta_btn,
.commonItem_thumb:hover::after {
    opacity: 1;
    visibility: visible;
}

.commonItem_thumb:hover .commonItem_cta_btn {
    top: 50%;
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 18px;
}
.old-price {
    font-size: 1.4rem;
    text-decoration: line-through;
}

.main-price {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-color);
}

.Button_btn {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
    border-radius: 999px !important;
    color: var(--primary-color);
    font-size: 1.4rem;
    display: inline-block;
    font-weight: 600;
    outline: none;
    padding: 9px 16px;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    transition: .3s ease;
}

.Button_btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.commonItem_cta_btn {
    background-color: var(--white-color);
    border-color: var(--white-color);
    color: var(--black-color);
    left: 50%;
    position: absolute;
    top: 60%;
    opacity: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: all .3s ease 0s;
    visibility: hidden;
    z-index: 1;
}

.commonItem_title a {
    font-size: 1.6rem;
    text-decoration: none;
    line-height: 1.4;
    font-weight: 600;
    color: #292929;
    display: -webkit-box;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.more-info {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    font-size: 1.3rem;
    color: #666;
}

.view, .videos, .duration {
    display: flex;
}

.more-info span {

    margin-left: 8px;
}


.VideoItem_video-info {
    position: absolute;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    bottom: 0;
    z-index: 1;
    padding: 16px;
}

.VideoItem_play_wrap {
    width: 36px;
    height: 36px;
    background-color: var(--white-color);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px
}

.VideoItem_play_icon {
    color: var(--text-color);
    font-size: 1.3rem;
}

.VideoItem_duration {
    border: 2px solid #fff;
    border-radius: 999px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 7px 12px;
}

.postItem_author {
    align-items: center;
    display: flex;
}

.postItem_author a {
    color: #757575;
    font-size: 1.4rem;
    text-decoration: none;
}

.postItem_author img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 8px;
    border-radius: 50%;
    flex-shrink: 0;
}

.postItem_author strong {
    color: #292929;
    font-weight: 600;
}

.postItem_author .postItem_dot {
    margin: 0 5px;
    -webkit-text-security: disc;
}

 .VideoItem_stats {
    display: flex;
    font-size: 1.4rem;
    color: #757575;
    margin-left: -24px;
}

 .VideoItem_stats div {
    margin-left: 24px;
}


.VideoItem_stats span {
    margin-left: 8px;
}

