.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    margin: 0 auto;
    max-width: 1224px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}
